<div class="bg-gray-800 h-screen flex flex-col p-5">
  <div class="py-4 px-6 flex items-center justify-center border-b border-white">
    <div class="text-center">
      <img
        src="./pngwing.com.png"
        alt="Profile Picture"
        class="w-16 h-16 rounded-full mx-auto mb-2"
      />
      <p class="text-xl font-medium text-white">John Doe</p>
      <p class="text-sm text-white">johndoe</p>
    </div>
  </div>

  <div class="mt-6 flex-1">
    <a
      href="#"
      class="block py-2 px-4 text-lg text-white hover:bg-gray-700 rounded-md"
      >Profile</a
    >
    <a
      href="#"
      class="block py-2 px-4 text-lg text-white hover:bg-gray-700 rounded-md"
      >Posts</a
    >
    <a
      href="#"
      class="block py-2 px-4 text-lg text-white hover:bg-gray-700 rounded-md"
      >Saved</a
    >
  </div>
</div>
