<div class="bg-gray-800 p-5 h-screen flex flex-col">
  <div class="py-4 px-6">
    <p class="text-3xl font-medium text-white">Blog</p>
  </div>

  <div class="mt-6 flex-1">
    <a
      routerLink="/user/dashboard"
      routerLinkActive="bg-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex gap-1 items-center py-2 px-4 mb-4 text-lg text-white hover:bg-gray-700 rounded-md"
    >
      <span class="inline-flex items-center">
        <mat-icon>home</mat-icon>
      </span>
      Home
    </a>
    <a
      routerLink="/user/add-blog"
      routerLinkActive="bg-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex gap-1 items-center py-2 px-4 mb-4 text-lg text-white hover:bg-gray-700 rounded-md"
    >
      <span class="inline-flex items-center">
        <mat-icon>add_circle</mat-icon>
      </span>
      Add Blog
    </a>
    <a
      routerLink="/user/add-interest"
      routerLinkActive="bg-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex gap-1 items-center py-2 px-4 mb-4 text-lg text-white hover:bg-gray-700 rounded-md"
    >
      <span class="inline-flex items-center">
        <mat-icon>favorite</mat-icon>
      </span>
      Add Interest
    </a>
  </div>

  <div class="py-2 border-t border-gray-200">
    <button
      (click)="openDialog()"
      class="text-lg w-full h-10 hover:bg-gray-700 text-white rounded-md"
    >
      Logout
    </button>
  </div>
</div>
