<div class="bg-gray-800 rounded-lg shadow-md p-6">
  <h2 class="text-xl font-bold text-white">{{ title }}</h2>
  <p class="text-white">{{ description }}</p>

  <div class="mt-4 flex justify-end">
    <button
      class="mr-2 bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="onYesClick()"
    >
      Yes
    </button>
    <button
      class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="onNoClick()"
    >
      No
    </button>
  </div>
</div>
